@import 'style/variables';

@import 'style/mixins';

.login {
  @include flex-center;

  .one-input-block {
    width: 295px;
  }

  .button-submit {
    margin-top: 25px;
  }
}

.yandex-button {
  padding-right: 23px;
  padding-left: 23px;
  margin-top: 20px;
}
