.main-login {
  background: url('/src/assets/images/main_bg.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .content-wrapper {
    width: 315px;

    h1 {
      color: #8659ab;
      text-align: center;
      font-size: 48px;
      line-height: 100%;
    }

    .link {
      margin-top: 24px;
      font-size: 12px;
      color: #8659ab;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 76px;
      color: #fff;
      border: 3px solid #769ea2;
      background-color: #1c3640;
      padding: 25px 19px 25px 18px;

      h2 {
        margin-bottom: 45px;
      }

      .one-input-wrapper {
        width: 100%;
        margin-bottom: 22px;
      }
    }
  }
}
