@import 'style/variables';

.one-input-block {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: $text_main_color;

  .title {
    height: 12px;
    margin-bottom: 5px;
    font-size: 9px;
    line-height: 9px;
  }

  .input {
    height: 50px;
    border: 0;
    border-bottom: 3px solid $text_main_color;
    background-color: inherit;
    color: $text_main_color;
    font-size: 18px;
    outline: none;
  }

  .error_message {
    height: 8px;
    color: $error_main_color;
    font-size: 8px;
    font-style: normal;
    font-weight: normal;
    line-height: 8px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &.error {
    color: $error_main_color;

    .input {
      background-color: $error_main_color;
    }

    .error_message {
      opacity: 1;
      transition: opacity 0.3s;
    }
  }
}
