@import 'style/variables';

.one-button {
  height: 58px;
  padding: 20px 50px;
  border: 3px solid $text_main_color;
  background-color: $primary_color;
  box-shadow: 5px 7px 0 0 $shadow_main_color;
  color: $text_main_color;
  cursor: pointer;
  font-size: $base_font_size;

  &:hover,
  &:active {
    background-color: $secondary_color;
    box-shadow: 7px 9px 0 $shadow_main_color;
  }

  &:disabled {
    border-color: $primary_color;
    background-color: $third_color;
    color: $primary_color;
    cursor: not-allowed;
  }

  &:focus {
    border-color: $header_link_color;
  }
}
