@import 'style/variables';

.game-hud {
  position: absolute;
  top: 25px;
  left: 10px;
  color: $text_main_color;
  line-height: 1.5;

  ul {
    list-style: none;
  }

  .game-hud-label {
    color: $secondary_color;
  }

  .game-hud-label::after {
    content: ': ';
  }

  .game-hud-strength.danger {
    color: $error_main_color;
  }
}
