.notification-wrapper {
  position: fixed;
  z-index: 10;
  top: 3%;
  right: 2%;
  width: 300px;
  padding: 15px;
  border-color: #ccc;
  border-radius: 10px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 12px #999;
  box-shadow: 0 0 12px #999;
  color: #fff;
  font-size: 12px;
  opacity: 0.9;
  overflow-x: hidden;
  text-align: center;
}

.notification-title {
  margin-bottom: 10px;
}

.success {
  background-color: #1e551e;
}

.error {
  background-color: #d9534f;
}
