.description {
  margin-top: 20px;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;

  @media screen and (max-width: 1100px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    button {
      padding: 20px 0;
      text-align: center;

      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
}
