html,
body,
#root {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url(/src/assets/fonts/PressStart2P-Regular.ttf);
}

* {
  font-family: 'Press Start 2P', cursive;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url('images/main_bg.jpg') no-repeat;
  background-size: cover;

  @media screen and (max-width: $max_content_width) {
    display: block;
    width: auto;
    height: auto;
    padding-top: 38px;
  }
}

.content-wrapper {
  width: $content_width;

  @media screen and (max-width: $max_content_width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &.double {
    width: 828px;

    @media screen and (max-width: $max_content_width) {
      width: 100%;
    }
  }

  h1 {
    color: $header_link_color;
    font-size: $h1_font_size;
    text-align: center;

    @media screen and (max-width: $max_content_width) {
      margin-bottom: 30px;
    }
  }

  .link {
    margin-top: 24px;
    color: $header_link_color;
    font-size: $link_font_size;
  }

  .content {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 25px 19px 25px 18px;
    border: 3px solid $secondary_color;
    margin-top: 25px;
    background-color: $third_color;
    box-shadow: 10px 10px 0 0 $shadow_main_color;
    color: $text_main_color;

    @media screen and (max-width: $max_content_width) {
      padding: 25px 18px;
      margin-top: 0;
    }

    h2 {
      margin-bottom: 32px;
    }

    &.double {
      padding: 39px 37px 34px;

      @media screen and (max-width: $max_content_width) {
        width: $content_width;
        padding: 25px 18px;
      }

      h2 {
        margin-bottom: 49px;
      }
    }

    .profile-image {
      width: 120px;
      height: 120px;
      border: 3px solid $secondary_color;
      margin: 0 32px 32px;
      background: $third_color;
      filter: drop-shadow(3px 4px 0 $shadow_main_color);
    }

    .input-wrapper {
      width: 100%;
      margin-bottom: 22px;

      &.double {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        @media screen and (max-width: $max_content_width) {
          flex-wrap: wrap;
          margin-bottom: 0;

          .one-input-block {
            margin-bottom: 22px;
          }
        }

        .one-input-block:nth-child(2) {
          margin-left: 29px;

          @media screen and (max-width: $max_content_width) {
            margin-left: 0;
          }
        }
      }
    }

    .button-wrapper {
      margin-top: 50px;
    }
  }
}
