@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin content-link {
  display: flex;
  flex-direction: column;
  margin: 30px auto 10px;
}
