$max_content_width: 830px;
$content_width: 335px;
$leaderbord_width: 500px;

$h1_font_size: 48px;
$link_font_size: 12px;
$base_font_size: 18px;
$menu_font_size: 24px;
$small_font_size: 8px;

$primary_color: #36535b;
$secondary_color: #769ea2;
$third_color: #1d3540;
$shadow_main_color: #000;
$text_main_color: #fff;
$error_main_color: #db4e3f;
$header_link_color: #8659ab;
$overlay_color: rgba(29, 53, 64, 0.62);

$content-padding-big: 39px 37px 34px;
$content-padding-small: 25px 18px;

$big_margin_bottom: 49px;
