$max_content_width: 830px;
$content_width: 335px;

$primary_color: #36535b;
$secondary_color: #769ea2;
$third_color: #1d3540;
$shadow_main_color: #000;
$text_main_color: #fff;
$error_main_color: #db4e3f;
$header_link_color: #8659ab;
