$max_content_width: 830px;
$content_width: 335px;
$leaderbord_width: 500px;

$height_to_zoom_out_content: 810px;
$zoom_out_ratio: 0.8;

$h1_font_size: 48px;
$link_font_size: 12px;
$base_font_size: 18px;
$menu_font_size: 24px;
$small_font_size: 8px;

$primary_color: var(--primary_color);
$secondary_color: var(--secondary_color);
$third_color: var(--third_color);
$shadow_main_color: var(--shadow_main_color);
$text_main_color: var(--text_main_color);
$text_secondary_color: var(--text_secondary_color);
$success_main_color: var(--success_main_color);
$error_main_color: var(--error_main_color);
$header_link_color: var(--header_link_color);
$header_hover_link_color: var(--header_hover_link_color);
$overlay_color: var(--overlay_color);
$spinner_overlay_color: var(--spinner_overlay_color);
$yellow_color: var(--yellow_color);

$content_padding_big: 39px 37px 34px;
$content_padding_small: 25px 18px;

$big_margin_bottom: 49px;

$text-shadow: 2px 2px;
