@import 'style/variables';

.menu-hamburger {
  position: absolute;
  top: 35px;
  right: 25px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.menu-hamburger .menu-hamburger-icon,
.menu-hamburger .menu-hamburger-icon::before,
.menu-hamburger .menu-hamburger-icon::after {
  position: relative;
  display: block;
  width: 35px;
  height: 5px;
  background: $text_main_color;
  border-radius: 1px;
  content: '';
}

.menu-hamburger .menu-hamburger-icon::before {
  position: absolute;
  top: -10px;
}

.menu-hamburger .menu-hamburger-icon::after {
  position: absolute;
  bottom: -10px;
}
